.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #222;
    flex: 0 0 auto;
    background-color: $footer-background-color;
}

.footer a {
    color: #222;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}
