img {
    max-width: 100%;
}

.drum-pic {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.mff-pic {
    width: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
