$font-color: #404040;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fafafe;
$background-alternative-color: #e0fbfc;
$font-heading: 'Roboto', sans-serif;
$font-content: 'Source Sans Pro', sans-serif;
