$font-color: #201020;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #e8ffe0;
$background-alternative-color: #e0fbfc;
$header-background-color: #fafafe;
$footer-background-color: #9d9db3;
$box-color: #a5b3a1;
$box-shadow-color: #9d9db3;
$font-heading: 'Roboto', sans-serif;
$font-content: 'Source Sans Pro', sans-serif;
$font-size-p: 1.35em;
$font-size-h1: 2.8em;
$line-height: 1.4;
$drum-pic-filter: grayscale(20%);
$mff-pic-filter: grayscale(0%);
$code-block-color: #f5f5f5;
$code-text-color: #201020;
