$font-color: #a578dc;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #202020;
$background-alternative-color: #e0fbfc;
$header-background-color: #3b2929;
$footer-background-color: #6e6e6e;
$box-color: #6e4d4d;
$box-shadow-color: #3b2929;
$font-heading: 'Roboto', sans-serif;
$font-content: 'Open Sans', sans-serif;
$font-size-p: 1.35em;
$font-size-h1: 2.8em;
$line-height: 1.4;
$drum-pic-filter: grayscale(70%);
$mff-pic-filter: grayscale(60%);
$code-block-color: #3b2929;
